@import url('https://fonts.googleapis.com/css?family=Lora'); /* font-family: 'Lora', serif; */
body { padding-top: 3.5rem;}
h1{ font-family: 'Lora', serif; color:#09aca5; font-weight: 600;}
h2{ font-family: 'Lora', serif; color:#09aca5; font-weight: 600; padding-bottom:20px; margin-bottom: 20px; border-bottom: 1px solid #ededed; }
.viz_list img{ border: 2px solid #FFFFFF; max-width: 100%;}
.viz_list img.active{border:2px solid #09aca5; }
.viz_list img:hover{opacity: .75;}
img.analysis{ max-width: 100%; width: 80%; margin: 0 auto; display: block; }

table.dataTable thead .sorting_asc::after,table.dataTable thead .sorting::after{display: none;}